@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
  }

  body {
    margin: 0;
    font-family: "Aspekta", sans-serif -apple-system,;
    /* font-family: system-ui, -apple-system, sans-serif; */
  }

  img {
    max-width: 100%;
    display: block;
  }
}

@font-face {
  font-family: "Aspekta";
  src: url("./assets/fonts/AspektaVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

/* body{
    font-family: "Aspekta", sans-serif;
} */